<h1>Index</h1>

<div class="table-responsive">
	<td><a href = "/lista_empleados"  class="btn btn-primary"> Empleados </a></td>
      	<td><a href = "/sindicato"  class="btn btn-primary"> Sindicato</a></td>
      	<td><a href = "/cheques" class="btn btn-danger"> Cheques </a></td>
	</td>
	
</div>