<h1>Registrar empleado</h1>
<form action="/empleados" method="post" name="nuevo" onsubmit="return formulario()">
  <label for="ci">Ci:</label>
  <input name="ci" id="ci" type="number" value=""/>
  <br>
  <label for="nombre">Nombre:</label>
  <input name="nombre" id="nombre" type="text" value="<%= @empleado.nombre %>" />
  <br>
  <label for="apellido">Apellido:</label>
  <input name="apellido" type="text" value="<%= @empleado.apellido %>" />
  <br>
  <label for="tipo_contrato" value="Tipo de Contrato">Tipo de Contrato:</label>
  <select name="tipo_contrato" >
   <option value = "quincenal" >Quincenal</option>
   <option value = "mensual" selected >Mensual</option>
  </select>
  <br>
  <label for="tipo_salario">Tipo de Salario:</label>
  <select id="salario" onchange="cambiar()" name="tipo_salario" >
   <option value = "por_hora" >Por Hora</option>
   <option value = "fijo" selected >Fijo</option>
  </select>
  <br>
  <label id="salario_monto">Salario</label>
  <input name="salario" type="number" value = "0" /> 
  <br>
  <label for="empleado_fecha_inicio_contrato">Fecha Inicio de Contrato:</label>
  <input name="fecha_inicio_contrato" type="date" value="<%= @empleado.fecha_inicio_contrato %>" />
  <br>
  <br>
  <input type="submit" value="Crear Empleado" />
</form> 

<script type="text/javascript">
		function cambiar(){
			var salario=document.getElementById("salario").value;
			document.getElementById("salario_monto").innerHTML="Salario "+salario;
		}
   function formulario() { 
     var inputVal = nuevo.ci.value
    if (inputVal   == "") 
      {
        $("#ci").css({"background-color":"red"});
        nuevo.ci.focus();  
     return false; 
   }
   } 
</script>

</script>
